@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:wght@400;700&family=Roboto:wght@100;300;400;700&display=swap");

.logo {
  margin-top: -10px;
  display: flex;
  flex-wrap: nowrap;
  color: rgba(0, 255, 255, 0.697);
}
.logo img {
  display: flex;
  padding: 10px;
}
.tajam {
  font-size: 2em;
  font-family: Roboto;
  font-weight: 100;
  color: rgba(0, 255, 255, 0.697);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 250px;
}
li {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
}
ul {
  list-style-type: none;
  font-weight: bold;
}
a {
  list-style: none;
  text-decoration: none;
  color: aliceblue;
}
.head-content {
  width: 50%;
  margin: 200px auto;
  text-align: center;
  color: aliceblue;
}
.Playfair {
  font-family: "Playfair Display";
}
.HammersmithOne {
  font-family: "Hammersmith One";
  text-transform: uppercase;
}

a.Learn-more {
  align-content: center;
}

p.Learn {
  width: 20%;
  color: rgba(0, 255, 255, 0.697);
  margin-left: 5;
  padding: 10px;
  border-style: solid;
}

span {
  width: 7%;
  height: 1px;
  display: inline-block;
  background-color: rgba(0, 255, 255, 0.697);
}
span.grey-span {
  background-color: grey;
}

.header {
  background-image: url(./assets/bgk-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}

body,
footer {
  font-family: Roboto, Helvetica;
  font-weight: 300;
  color: #393e46;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.our-story {
  display: flex;
  height: 300px;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 150px;
}
.our-story div {
  width: 40%;
  padding-left: 100px;
}
.Watch-our-Story {
  display: flex;
  background-image: url(./assets/bgk-middle.png);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: 600px; 

}

.Watch-our-Story img {
  width: 100px;
  height: 100px;
}
.Watch-our-Story p {
  color: aliceblue;
}
.expertise {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 150px;
}

.expertise-head {
  text-align: center;
}
.card-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  margin-top: 30px;
}
.border-left {
  border-left: 1px solid rgb(155, 145, 145);
}
.border-bottom {
  border-bottom: 1px solid rgb(155, 145, 145);
}

#Watch-our-Story {
  color: white;
  text-transform: uppercase;
}

h2.Expertise-title,
#team-section > h2,
#partners-half-section > h2,
#form-half-section > h2,
.our-story h2 {
  font-family: "Playfair Display", Helvetica, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
}

h2.Expertise-title,
#team-section > h2,
#partners-half-section > h2,
#form-half-section > h2 {
  text-align: center;
}

p.Expertise-title {
  text-align: center;
  font-family: "Playfair Display", Helvetica, sans-serif;
  font-size: 1em;
  color: grey;
}

.expertise-card {
  padding: 20px;
  text-align: center;
}

h3.expert-text {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

p.expert-p {
  color: grey;
}

hr {
  color: lightgray;
}

#team-section {
  background-image: url(./assets/bgk-2nd-middle.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 5% 10%;
}

#team-section > h2 {
  margin-top: 0;
}

#team-subtitle {
  text-align: center;
  font-family: "Playfair Display", Helvetica, sans-serif;
  font-size: 1em;
}

#team-section > hr {
  width: 5%;
  border: 0;
  height: 1px;
  background-color: #846f7a;
}

#main-profile-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 3em auto 4em;
}

.profile-container {
  display: flex;
  flex-direction: column;
  border: 0.5px white solid;
  background-color: transparent;
  width: 20%;
}

.profile-container img {
  width: 100%;
}

.name-employee {
  font-weight: 900;
  margin-bottom: 0;
}

.job-title {
  font-weight: 300;
  margin-top: 0.5em;
}

.name-employee,
.job-title {
  text-align: center;
  font-size: 0.8em;
}

#cta-join {
  text-align: center;
  font-weight: 300;
}

button {
  text-align: center;
  color: #00c6c6;
  border: 1px #00c6c6 solid;
  padding: 0.75em 1.25em;
  background-color: transparent;
  margin: 2rem auto;
  display: block;
  text-transform: uppercase;
  font-family: "Hammersmith One";
  font-weight: 500;
}

button.buttontwo {
  display: block;
  margin-left: 0;
}

h2.Expertise-title {
  font-family: "Playfair Display", Helvetica, sans-serif;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

p.Expertise-title {
  text-align: center;
  font-family: "Playfair Display", Helvetica, sans-serif;
  font-size: 1em;
  color: grey;
}

.expertise-card {
  text-align: center;
}

h3.expertise-card {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

p.expertise-card {
  color: grey;
}

hr {
  color: lightgray;
}

.vl {
  border-left: 1px solid lightgray;
  height: 200px;
}

.vl1 {
  align-self: flex-end;
}

.vl2 {
  align-self: flex-start;
}

/* FORM AND PARTNER STYLE START */

#form-and-partners {
  width: 70%;
  margin: 3em auto;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: " form customers";
  justify-content: center;
  gap: 5%;
}

#form-half-section {
  grid-area: "form";
}

#partners-half-section {
  grid-area: "customers";
}

#clients-overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
  min-width: 80%;
}

#clients-overview img {
  margin: 1em 0;
}

#partners-half-section > h2,
#form-half-section > h2 {
  text-align: left;
}

input {
  display: block;
  height: 3em;
  margin-bottom: 1em;
}

input,
textarea {
  width: 90%;
  border: 1px solid #e0e0e0;
}

input::placeholder,
textarea::placeholder {
  font-family: "Roboto", sans-serif;
  color: #c1c0b9;
  padding-left: 1.5em;
}

textarea::placeholder {
  padding-top: 1em;
}

#form-and-partners button {
  text-align: center;
  color: #00c6c6;
  border: 1px #00c6c6 solid;
  padding: 0.75em 3em;
  background-color: transparent;
  margin: 1.5em auto 2em 0;
  display: block;
  text-transform: uppercase;
  font-family: "Hammersmith One";
  font-weight: 500;
}

/* FORM AND PARTNER STYLE END */

/* FOOTER STYLE START */
footer {
  background-image: url(/assets/bgk-footer.png);
  height: 400px;
  line-height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.footer-container {
  display: flex;
  width: 70%;
  margin: 20px auto;
  color: white;
  padding: 30px;
}
.footer-item {
  width: 33.3%;
  padding: 20px;
}
.flex {
  display: flex;
  align-items: center;
}
.padding-bottom {
  padding-bottom: 50px;
}
.padding-right {
  padding-right: 5px;
}
.copy {
  display: flex;
  justify-content: flex-end;
  margin-top: -2px;
}
.pad-r {
  padding-right: 20px;
}
.gps {
  padding-right: 10px;
  padding-bottom: 50px;
}
.tel {
  padding-right: 10px;
}
.fot-input {
  background: transparent;
  padding-right: 10px;
  width: 200px;
  outline: none;
}
.fot-button {
  background: transparent;
  height: 45px;
  width: 70px;
  margin-bottom: 45px;
  margin-left: 10px;
  background: rgb(255, 255, 255);
  opacity: 0.6;
  cursor: pointer;
}
.fot-button img {
  z-index: 3;
}

.p-footer {
  font-size: 13px;
  width: 90%;
  color: rgba(240, 255, 255, 0.81);
}
.font-s {
  font-size: 15px;
}

header ul li a{
  border-radius:20px;
  padding: 6px ;
}

header ul li a:hover, .active{ background:white;
  color: #00c6c6;

}


/* FOOTER STYLE END */
