@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:wght@400;700&family=Roboto:wght@100;300;400;700&display=swap");

.logo {
  margin-top: -10px;
  display: flex;
  flex-wrap: nowrap;
  color: rgba(0, 255, 255, 0.697);
}
.logo img {
  display: flex;
  padding: 10px;
}
.tajam {
  font-size: 2em;
  font-family: Roboto;
  font-weight: 100;
  color: rgba(0, 255, 255, 0.697);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 250px;
}
li {
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
}
ul {
  list-style-type: none;
  font-weight: bold;
}
a {
  list-style: none;
  text-decoration: none;
  color: aliceblue;
}
.head-content {
  width: 50%;
  margin: 200px auto;
  text-align: center;
  color: aliceblue;
}
.Playfair {
  font-family: "Playfair Display";
}
.HammersmithOne {
  font-family: "Hammersmith One";
  text-transform: uppercase;
}

a.Learn-more {
  align-content: center;
}

p.Learn {
  width: 20%;
  color: rgba(0, 255, 255, 0.697);
  margin-left: 5;
  padding: 10px;
  border-style: solid;
}

span {
  width: 7%;
  height: 1px;
  display: inline-block;
  background-color: rgba(0, 255, 255, 0.697);
}
span.grey-span {
  background-color: grey;
}

.header {
  background-image: url(./assets/bgk-header.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
}

body,
footer {
  font-family: Roboto, Helvetica;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.our-story {
  display: flex;
  height: 300px;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 150px;
}
.our-story div {
  width: 40%;
  padding-left: 100px;
}
.Watch-our-Story {
  display: flex;
  background-image: url(./assets/bgk-middle.png);
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/*.Watch-our-Story {
  background-image: url(./assets/bgk-middle.png);
  display: flex;
  height: 700px;
  justify-content: center;
  align-items: center;
  background-size: contain;
  flex-direction: column;
  background-repeat: no-repeat;
}*/
.Watch-our-Story img {
  width: 100px;
  height: 100px;
}
.Watch-our-Story p {
  color: aliceblue;
}
.expertise {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 150px;
}

.expertise-head {
  text-align: center;
}
.card-container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  margin-top: 30px;
}
.border-left {
  border-left: 1px solid rgb(155, 145, 145);
}
.border-bottom {
  border-bottom: 1px solid rgb(155, 145, 145);
}

#Watch-our-Story {
  color: white;
  text-transform: uppercase;
}

h2.Expertise-title,
#team-section > h2 {
  font-family: "Playfair Display", Helvetica, sans-serif;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

p.Expertise-title {
  text-align: center;
  font-family: "Playfair Display", Helvetica, sans-serif;
  font-size: 1em;
  color: grey;
}

.expertise-card {
  padding: 20px;
  text-align: center;
}

h3.expert-text {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

p.expert-p {
  color: grey;
}

hr {
  color: lightgray;
}

#team-section {
  background-image: url(./assets/bgk-2nd-middle.png);
  height: 45vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 5% 10%;
}

#team-section > h2 {
  margin-top: 0;
}

#team-section > p {
  text-align: center;
  font-family: "Playfair Display", Helvetica, sans-serif;
  font-size: 1em;
}

#team-section > hr {
  width: 50px;
  border: 0;
  height: 1px;
  background-color: #846f7a;
}

#main-profile-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 3em auto 4em;
}

.profile-container {
  display: flex;
  flex-direction: column;
  border: 0.5px white solid;
  background-color: transparent;
}

.profile-container img {
  width: 200px;
}

.name-employee {
  font-weight: 900;
  margin-bottom: 0;
}

.job-title {
  font-weight: 300;
  margin-top: 0.5em;
}

.name-employee,
.job-title {
  text-align: center;
  font-size: 0.8em;
}

button {
  text-align: center;
  color: rgba(0, 255, 255, 0.5);
  border: 1px rgba(0, 255, 255, 0.5) solid;
  padding: 0.75em 1.25em;
  background-color: transparent;
  margin: 2rem auto;
  display: block;
  text-transform: uppercase;
  font-family: "Hammersmith One";
  font-weight: 500;
}

button.buttontwo {
  display: block;
  margin-left: 0;
}

h2.Expertise-title {
  font-family: "Playfair Display", Helvetica, sans-serif;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

p.Expertise-title {
  text-align: center;
  font-family: "Playfair Display", Helvetica, sans-serif;
  font-size: 1em;
  color: grey;
}

.expertise-card {
  margin: 3% 5%;
  text-align: center;
}

h3.expertise-card {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

p.expertise-card {
  color: grey;
}

hr {
  color: lightgray;
}

.vl {
  border-left: 1px solid lightgray;
  height: 200px;
}

.vl1 {
  align-self: flex-end;
}

.vl2 {
  align-self: flex-start;
}
